@media (max-width: 1440px) {
    .hero-img {
       /*  padding-top: 1rem;
        padding-right: 1rem; */
        margin-top: 1rem;
        margin-right: 1rem;
        border-radius: 30px;
    }
}

@media (max-width: 786px) {
    .menu-label {
        display: flex;
        order: 2;
    }
    .menu-label img {
        height: 20px;
        width: 25px;
    }
    .barra_nav {
        position: absolute;
        top: 20vh;
        flex-direction: column;
        width: 90%;
        left: 5%;
        right: 5%;
        background-color: rgba(148, 141, 129, 0.959);
        border: 1px solid var(--btn);
        border-top: 0;
        padding: 45px 30px;
        gap: 15px;
        border-radius: 0 0 10px 10px;
        display: none;
    }
    #menu-toggle:checked ~ .barra_nav {
        display: flex;
    }
    /*  ================== SECTION HERO ==================*/
    main {
        max-width: 768px;
    }
    /*  ================== SECTION HERO ==================*/
    .section-hero {
        flex-wrap: wrap;
        gap: 20px;
        max-width: 768px;
    }
    .hero-img {
        border-radius: 25px;
        margin: 0;
    }
    /*  ================== SECTION ABOUT ==================*/
    .section-about {
        max-width: 768px; 
        padding: 20px 60px;
    }
    .section-about p {
        width: 95%;
        text-align: center;
    }
    /*  ================== SECTION CARDS ==================*/
    .cards {
        max-width: 768px; 
    }
    .cards-info {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .cards-info h3 {
        padding: 20px;
    }
    .cards p {
        width: 100%;
        text-align: center;
        padding: 20px 60px;
    }
    /*  ================== SECTION CONTACT ==================*/
    .contact {
        flex-wrap: wrap;
        max-width: 768px;
    }
    .contact-info {
        padding: 1.5rem;
    }
    /* MAPA */
    ubic-mapa {
        padding-bottom: 3rem;
    }
    /*  ================== FOOTER ==================*/
    footer {
        height: 100;
    }
    footer img {
        width: 200px;
    }
}
@media (max-width: 760px) {
    .contact h3 {
        text-align: center;
    }
    .direc-1-2-info {
        flex-wrap: wrap;
        text-align: center;
    }
    .hero-img {
        width: 100%;
        padding: 10px;
        border-radius: 25px;
        margin: 0;
    }
    .redes {
        text-align: center;
    }
}
@media (max-width: 391px) {
    /*  ================== HEADER ==================*/
    header {
        max-height: 10vh;
    }
    header img {
        height: 40%;
    }
    #img1 {
        display: none;
    }
    #img2 {
        display: flex;
    }
    .barra_nav {
        top: 10vh;
    }
    /*  ================== SECTION HERO ==================*/
    .section-hero  {
        max-width: 390px;
        padding: 10px;
        margin-top: 10vh;
    }
    .hero-part1 p {
        font-size: var(--font-xs);
    }
    .botones a {
        max-width: 130px;
    }
    .hero-img {
        width: 100%;
        padding: 10px;
    }
    /*  ================== SECTION ABOUT ==================*/
    .section-about { 
        max-width: 390px;
        padding: 10px;
        text-align: center;
    }
    .section-about p {
        font-size: var(--font-xs);
        width: 100%;
    }
    /*  ================== SECTION CARDS ==================*/
    .cards {
        padding: 10px;
        max-width: 390px;

    }
    .cards p {
        font-size: var(--font-xs);
        width: 100%;
        padding: 0;
    }
    /*  ================== SECTION CONTACT ==================*/ 
    .contact {
        max-width: 390px;
        padding: 10px;
    }
    .contact-info {
        padding: 0px;
        gap: 5px;
    }
    .contact h3 {
        text-align: center;
    }
    .direc-1-2-info {
        flex-wrap: wrap;
        text-align: center;
    }
    .direc-1,
    .direc-2 {
        width: 100%;
        align-items: center;
    }
    
    .ubicación,
    .mail,
    .teléfono {
        text-align: center;
        width: 60%;
    }
    .ubic-mapa {
        width: 100vw;
        padding: 10px;
        border-radius: 10px;
    }
    .img-mapa {
        width: 100%;
        height: 200px;
    }
    .redes {
        text-align: center;
    }
    /*  ================== FOOTER ==================*/
    #copyright {
        font-size: 10px;
    }
    .derechos-reservados {
        white-space: pre;
    }
}





